<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email List</title>

  <!-- My style -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Axios library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
  <!-- VueJS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <div id="app">

    <h1>Email List</h1>

    <ul id="email-list">
      <!-- se la lunghezza dell'array randomEmails è = 10, quindi tutte le email random sono state generate, stampo il contenuto -->
      <li v-for="email in randomEmails" v-if="randomEmails.length == 10">
        {{email}}
      </li>
      <!-- altrimenti stampo Loading -->
      <li v-else>
        Loading
      </li>
      
    </ul>

  </div>


  <!-- My script -->
  <script src="js/script.js"></script>
</body>
</html>